{% extends "base.html" %}

{% block title %}Home {% endblock %}

{% block body %}

<h1>Your Library</h1>

<button id="openModal" class="add-book-btn">
    ＋ Add Book
</button>

<div id="addBookModal" class="modal">
<div class="modal-content">

<span id="closeModal">&times;</span>

<h2>Add Book</h2>

<form method="POST" action="{{ url_for('books.home') }}">

<input type="text" name="title" placeholder="Title" required>
<input type="text" name="author" placeholder="Author" required>
<input type="text" name="genre" placeholder="Genre"required>

<select name="status">
<option value="Reading">
Reading
</option>

<option value="Completed">
Completed
</option>

<option value="On Hold">
On Hold
</option>

<option value="Dropped">
Dropped
</option>

<option value="Plan to Read">
Plan to Read
</option>

</select>

<button>

Add Book

    </button>

</form>

        </div>

</div>


<div class="book-container">

{% for book in books %}

    {% include "components/book_card.html" %}

{% endfor %}

</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='js/home.js') }}"></script>
{% endblock %}