<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %} default vlaue {% endblock %}
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        
    </head>
    <body>
    

{% with messages = get_flashed_messages(with_categories=true) %}

{% if messages %}

<div id="flash-container">

    {% for category, message in messages %}

        <div class="flash {{ category }}">

            {{ message }}

        </div>

    {% endfor %}

</div>

{% endif %}

{% endwith %}




        {% block body %} default vlaue {% endblock %}

    </body>
     {% block scripts %} {% endblock %}
</html>
   <script 